[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
pyqt5 = "*"
pillow = "*"
appdirs = "*"
send2trash = "*"
qt-material = "*"
pywin32 = {version = "*", sys_platform = "== 'win32'"}
winshell = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]
flake8 = "*"
autopep8 = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"
