QMenuBar::item:disabled {{
    color: #b8b8b8;
}}

QPushButton:hover {{
    background-color: {QTMATERIAL_PRIMARYCOLOR};
    color: {QTMATERIAL_PRIMARYTEXTCOLOR};
}}

QStatusBar {{
    border-top: 1px solid {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}